<div class="layui-fluid module-page" data-module="categories">
    <div class="layui-card">
        <div class="layui-form layui-card-header layuiadmin-card-header-auto">
            <form data-filter>
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">分类搜索</label>
                        <div class="layui-input-inline"><input class="layui-input" name="keyword"
                                                               placeholder="请输入分类名称"></div>
                    </div>
                    <div class="layui-inline">
                        <button class="layui-btn" type="submit">查询</button>
                        <button class="layui-btn layui-btn-primary" type="reset" data-action="reset">重置</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="layui-card-body">
            <div class="toolbar">
                <button class="layui-btn" data-action="create"><i class="layui-icon layui-icon-add-1"></i>添加分类
                </button>
            </div>
            <div class="table-wrap">
                <table class="layui-table">
                    <colgroup>
                        <col style="width:30%">
                        <col style="width:13%">
                        <col style="width:16%">
                        <col style="width:10%">
                        <col style="width:19%">
                        <col style="width:12%">
                    </colgroup>
                    <thead>
                    <tr>
                        <th>分类名称</th>
                        <th>层级</th>
                        <th>所属一级分类</th>
                        <th>排序</th>
                        <th>创建时间</th>
                        <th class="align-right">操作</th>
                    </tr>
                    </thead>
                    <tbody data-list></tbody>
                </table>
            </div>
            <div class="table-footer" data-pagination></div>
        </div>
    </div>
</div>
